extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= developer.name

        p.lead.text-light= developer.title

        if developer.bio
          .portfolio-bio
            each bio_line in developer.bio
              p= bio_line
      .cell.portfolio-meta.small-6.medium-2.large-3

        if developer.skills
          h6 Skills
          ul
            each skill in developer.skills
              li= skill

        if developer.contact
          h6 Contact Info
          ul
            li= developer.contact.phone
            li= developer.contact.email
          if developer.contact.links
            a.button.expanded(href=`${developer.contact.links.linkedin}`, target="_blank") LinkedIn
            a.button.expanded(href=`${developer.contact.links.github}`, target="_blank") GitHub
            a.button.expanded(href=`${developer.contact.links.twitter}`, target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
